.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
}

.list-item {
  padding: 5rem;
  min-width: 0;
  max-width: 10rem;
}

.scroll {
}

@media screen and (max-width: 1000px) {
  .window {
    flex-direction: column;
  }
}
