.App {
  text-align: center;
  background-color: rgb(43, 43, 43);
  color: white;
  border-color: rgb(105, 105, 105);
}

::placeholder {
  color: white;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #555555;
  border-radius: 0.2rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(61, 61, 61);
  width: 2rem;
  border-radius: 0.2rem;
}

.col {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.row {
  display: flex;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(61, 61, 61);
}

body {
  border-color: rgb(61, 59, 59);

  background-color: rgb(143, 143, 143);
}

.card {
  padding: 1rem 0rem;
  text-align: left;
  margin: 2rem;
}

.window {
  display: flex;
  flex-direction: column;

  color: white;
  background-color: #2f2f2f;
  border: 10px solid;
  border-color: red;
}

.sidebar {
  background-color: #161414;
}
